<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
   <!-- <input type="text" placeholder="아이디" id="id"><br>
    <input type="text" placeholder="비밀번호" id="password"><br>
    <button>로그인</button>-->

    <div class="login-page">
        <div class="form">
          
          <form class="login-form">
            <input type="text" placeholder="성명"  id="name"/>
            <input type="text" placeholder="아이디"  id="id"/>
            <input type="password" placeholder="비밀번호" id="password"/>
            <input type="password" placeholder="비밀번호확인" id="password-confirm"/>
            <p id="button">등록</p>
            <p class="message">Already member? <a href="login">Sine in</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->